.heading-h2 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  position: relative;
  z-index: 1;
  line-height: 1.3;
  width: 100%;
}
.text-line-1,
.text-line-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  position: relative;
}
.text-line-1 {
  margin-bottom: -3%;
  align-items: flex-start;
}
.text-line-2 {
  align-items: flex-end;
}
.letters-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  font-size: max(1.8rem, min(11em + 1rem, 14.5rem));
}
.letters-wrapper.small {
  font-size: max(1rem, min(2.7em + 0.5rem, 3.25rem));
  gap: 0.2em;
  font-weight: 400;
  margin-left: 1%;
  position: absolute;
  top: -11%;
}
.letters-wrapper.small.bottom {
  top: 3%;
  right: 8%;
  overflow: hidden;
}
.letter-box {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  white-space: nowrap;
}
.letter-box.web {
  position: absolute;
  right: 0;
  transform: translateX(-200%);
}
.letter-box.overflow {
  overflow: visible;
}
.letter {
  position: relative;
  display: inline-flex;
  align-items: center;
  z-index: 1;
}
.letter.hidden {
  position: absolute;
  top: 0;
  font-weight: 400;
  transform: rotateY(-90deg);
}
.letter.sviluppo {
  transform: translateY(100%);
}
.span-parentesi {
 position: relative;
  display: inline-flex;
  align-items: center;
  color: transparent;
  z-index: 2;
}
.letter.d {
  transform: rotateY(90deg);
}
.letter.o {
  color: transparent;
}
.letter.e {
  transform: rotateY(-90deg);
}
.letter.ee {
  font-weight: 300;
  transform-origin: left center;
  transform: rotateY(-90deg);
}
.letter.g {
  transform: rotateZ(90deg) scale(0.5);
  opacity: 0;
}
.letter.p2 {
  transform: rotateY(-90deg);
}
.letter.s {
  transform: translateY(150%);
}
.letter.i {
  transform: translateY(-100%);
}
.letter.agency {
  transform: translateX(200%);
}
.letter.n {
  transform: translateX(-100%);
}
.letter.web {
  transform: translateY(-200%);
}
#Vect-1 {
  transform: translateX(-120%);
}
#Vect-2 {
  transform: translateX(120%);
}
.svg-letter-o {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: -2%;
  z-index: 0;
  width: 102%;
  height: auto;
  transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
  object-fit: cover;
}
.svg-letter-e {
  position: absolute;
  left: 4%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  width: 87%;
  height: auto;
  object-fit: cover;
}
.svg-letter-ee {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  width: 100%;
  height: auto;
  transform: translate(0px, -200%);
  object-fit: cover;
}
.svg-letter-i {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  width: auto;
  height: 80%;
  transform: rotateX(270deg) rotateY(0deg) rotateZ(0deg);
  object-fit: cover;
}
.svg-letter-parentesi1 {
  position: absolute;
  left: 0%;
  top: 18%;
  right: 0%;
  bottom: auto;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 72%;
  justify-content: space-between;
  align-items: flex-end;
  object-fit: cover;
  transform: rotateY(-90deg);
}
.svg-letter-parentesi2 {
  position: absolute;
  left: 0%;
  top: 18%;
  right: 0%;
  bottom: auto;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 72%;
  justify-content: space-between;
  align-items: flex-end;
  object-fit: cover;
  transform: translateX(-1300%) rotateY(-90deg);
}
@media (max-width: 767px) {
  .text-line-1 {
    margin-bottom: -1%;
  }  
  .letters-wrapper.small {
    top: -15%;
    font-weight: 300;
    font-size: max(1rem, min(2.3em + 0.5rem, 3.25rem));
  }
  .letters-wrapper.small.bottom {
    top: 0;
  }
}

.h2-tagline {
    position: relative;
    z-index: 1;
    max-width: 22em;
    min-width: 26rem;
    margin-top: 0px;
    margin-right: 2rem;
    margin-bottom: 0px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
    color: var(--soft-white-change);
    line-height: 1.3;
    font-weight: 400;
    text-align: left;
    font-size: max(1.25rem, min(1em + 0.5rem, 2rem));
    will-change: transform;
  }
  
  .h2-tagline:medium {
    max-width: 28rem;
    min-width: 22em;
  }
  
  .h2-tagline:small {
    display: block;
    max-width: 22rem;
    min-width: 22em;
    margin-left: 0.5rem;
    line-height: 1.5;
    font-size: max(1.25rem, min(2em + 0.5rem, 1.5rem));
  }
  
  .h2-tagline:tiny {
    max-width: 22em;
    min-width: auto;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-size: max(1.125rem, min(2em + 0.5rem, 1.5rem));
  }